
@{
    ViewData["Title"] = "Index2";
}

<h1>登入才看的到</h1>
<h1>登入才看的到</h1>
<h1>登入才看的到</h1>
<h1>登入才看的到</h1>
<h1>@ViewData["UserName"]</h1>
<form asp-action="Login">
<div class="form-group">
    <input type="submit" value="登出" class="btn btn-primary"  />
</div>
</form>/>


